* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 18px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    background-color: #FF5959;
    padding: 16px 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/donation6.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.781);
    background-blend-mode: multiply;

}

.header-content {
    color: white;
    text-align: center;
}

.header-content p {
    margin: 25px 0;
}